{% extends 'base.html' %}
{% load widget_tweaks %}

{% block style %}
    <style>
        .errorlist{
            padding: 0px;
            margin: 0px;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center pt-3 mt-3">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-8">
                <h1 class="text-center mb-3">Sign Up</h1>
                {% if form.errors %}
                    <div class="d-flex alert alert-light border border-danger justify-content-center" role="alert" style="background-color: #212121; border: 0.7px solid white;">
                        {% for error in form.errors.values %}
                            <strong style="color: white;">{{error}}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="">
                    <div class="d-flex justify-content-center bg-success p-2">
                        <h1 style="font-size: 30px; font-weight: lighter; padding-top: 5px;"> Skull Post </h1>
                    </div>
                    <div class="p-3" style="background-color: #212121;">
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                                {% render_field form.email class+="form-input border border-success form-control mb-2" placeholder="email@email.com" %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label}}</label>
                                {% render_field form.username|attr:"autofocus" class+="form-input border border-success form-control mb-2" %}
                            </div>
        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.password1.id_for_label }}" class="form-label">{{ form.password1.label }}</label>
                                        {% render_field form.password1 class+="form-input border border-success form-control mb-2"%}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.password2.id_for_label }}" class="form-label">{{ form.password2.label }}</label>
                                        {% render_field form.password2 class+="form-input border border-success form-control mb-2" %}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-success mt-3">Sign up </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


<!-- <form method="post" action=".">
    {% csrf_token %}
    {{form.email.label_tag}} <br> 
    {{form.email}} <br>

    {{form.username.label_tag}} <br>
    {{form.username}} <br>

    {{form.password1.label_tag}} <br>
    {{form.password1}} <br>

    {{form.password2.label_tag}} <br>
    {{form.password2}} <br>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form> -->